extends layout
include mixins/_text_field

block content
  main.w-full.h-full.flex.flex-col.items-center.pt-10.px-1(
    class="md:p-10"
  )
    form.w-full.max-w-sm.bg-white.shadow-md.rounded.px-8.pt-6.pb-8.mb-4(action='' method='POST')
      .mb-4
        +_text_field({
          name: 'email', placeholder: 'Your email address', type: 'email'
        })
      .mb-6
        +_text_field({
          name: 'password', placeholder: 'Your password', type: 'password', minLength: 6
        })
      .mb-4
        button(
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          type='submit'
        ) Sign In
      .to-sign-up
        | Don't have an account? 
        a(
          class="text-blue-500 hover:text-blue-700"
          href='/register'
        ) Sign up
    p.text-center.text-gray-500.text-xs
      |&copy;2020 #{appname} All rights reserved.